body {
  background-color: Cornsilk;
  color: DarkSalmon;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
  background-image: url("https://r3dking.github.io/leafbackground.jpg");
}

.responsive {
  max-width: auto;
  max-height: 250px;
  float: right;
  padding-top: 8%;
  padding-right: 10%
}

.cover-note {
  border: 4px solid BurlyWood;
  border-radius: 20px;
  background-color: Cornsilk;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  padding-bottom:6%;
  margin-left: 5% ;
  margin-right: 5%;
  margin-top: 9%;
  font-size: 15pt;
  
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 0px solid cornsilk;
  border-bottom: 0px solid cornsilk;
  background-color: ;
  border-radius: 5px;
  margin-top: 10%;
}

h1 {
  text-align: center;
  background-color: cornsilk;
  border-top: 10px solid darkgreen;
  border-bottom: 10px solid darkgreen;
  border-radius: 5px;
  padding: 7%;
  color: Orange;
  
}

h2 {
  text-align: center;
  color: orange;
  background-color: cornsilk;
}

h3 {
  text-align: center;
  color: Orange;
  background-color: Cornsilk;
  margin: 5%;
  font-size: 28pt; 
}

h4 {
  color: Orange;
  background-color: Cornsilk;
  padding-left: ;
  text-align: center;
  font-size: 14pt
}

ul {
  border: 4px solid BurlyWood;
  border-radius: 20px;
  background-color: Cornsilk;
  padding-left: 10%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 1
  
}

a:link {
  color: Orange;
  background-color: Cornsilk;
  margin: 3%;
  font-size: 16pt
  
}

a:visited {
  color: DarkSalmon;
}

a:hover {
  color: Coral;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: BurlyWood;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.333%;
}

.tablink:hover {
  background-color: coral;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: DarkSalmon;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Rory {background-color: ;}
#Education {background-color: ;}
#Contact {background-color: ;}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: Burlywood;
  color: white;
  text-align: center;
}


  padding: 0%;
}
